<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
{{ section.settings.asdas }}

{% schema %}
{
  "name": "header",
  "settings": [
    {
      "type": "text",
      "id": "asdas",
      "label": "asdas"
    }
  ],
  "class": "shopify-header",
  "presets": [
    {
      "name": "header"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
